
.container {
	margin: 5vh auto;
	width: 50%;
}
h3{
	text-align: center;
	color: #fff;
	font-family: arial;
	text-shadow: 2px 2px 4px #000000;
	letter-spacing: 0.2em;

}

h2{
	color: #fff;
	text-align: center;	

}
#head {
	cursor: pointer;
	background-color: #db1a08;
	height: 8vh;
	margin-bottom: 1px;
	border:1px solid black;


}

#collapse-body {
	height: 25vh;
	background-color: black;
	border:1px solid black;
	box-shadow: 5px 5px 3px #888888;
}